body {
	font-family: helvetica;
	size: 12px;
	color: white;
	background-color: blue;

}

#id {
	font-family: times;
	border: DASHED 4px black;
	padding: 10px;
	font-size: 12px;
}

.otherThing {
	background-color: black;
	opacity: 4;
	color: white;
}